
<div class="map-preview">
  <div id="thinblackbar">
    <div class="container" style="padding: 8px 10px 0 10px; text-align: center; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 18px;">
      <span style="float: right; font-weight: 200;"><a href="/">DATA.GOV.UK</a></span>
      <a href="javascript:history.back();" style="float: left;">&laquo; Go Back</a>
      Map Preview
    </div>
  </div>

  <div>
      <p>
          You do not appear to have JavaScript enabled in your browser.
      </p>
      <p>
          This application requires JavaScript in order to function correctly, so please ensure it is enabled before proceeding.
      </p>
  </div>

  <div id="pleasewait">
  </div>

  <script type="text/javascript">
      // <![CDATA[
      document.getElementById('pleasewait').innerHTML = '<p>Calling Web Map Services.</p><p>Please wait...</p>';
      // ]]>
  </script>
  <div id="wrapper">
      <div id="info">

      </div>
  </div>
</div>
